$breakpoint-desktopLarge: 2500px;
$breakpoint-desktop: 1024px;
$breakpoint-mobile: 320px;
$breakpoint-tablet: 769px;
$breakpoint-columns: 578px;
$breakpoint-desktopSmall: 975px;
//Fonts
$pattaya-font: "Pattaya", sans-serif;
$montserratSemiBold-font : "fontMontserratSemiBold";
$montserratRegular-font : "fontMontserratRegular";
//Colors